.thumbnail {
  position: relative;
}

.caption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  left: 10px;
}

.list-img {
  max-height: 50px;
}

.follow-img {
  max-height: 35px;
}

.tweet-button {
  width: 100%;
  min-width: 70px;
  float: right;
}

.form-rounded {
  border-radius: 1rem;
}
