body {
  background-color: black;
}

p, a {
  font-family: Arial, Helvetica, sans-serif;
}

.wd-main-wrapper {
  position: relative;
  border:1px solid rgb(47, 51, 54);
  width: 100%;
}

.wd-separator {
  width: 100%;
  height: 1px;
  background-color: rgb(47, 51, 54);
}

.wd-post-headline > p {
  display:inline-block;
}

.wd-grey-text, .wd-pink-text, .wd-white-text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 0px;
}

.wd-grey-text {
  color: rgb(110, 118, 125);

}

.wd-pink-text {
  color: rgb(218, 0, 250);
}

.wd-white-text {
  color: white;
}

.wd-large {
  font-size: 20px;
}

.wd-medium {
  font-size: 15px;
}

.wd-small {
  font-size: 13px;
}
